<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>write</h1>

    <form name="myform" action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <!-- 
        html 서버로 전송시켜서 request 객체에 담고 , 모델에 담아서 DB 에 저장 , 
        form 클래스가 이걸 대체 form 클래스에 있는 필드와 라벨을 보고 직접 태그를 생성함

        p 태그로 감싸서 데이터를 입력으로 받을 것들만 지정하면 됨
        -->

        <button type="button" id="btnSend">등록</button>
    </form>
</body>
<script>
    //html DOM 구조가 완성되고 나면 onload 이벤트가 발생됨
    window.onload = () => {
        document.querySelector("#btnSend").addEventListener("click" , () => {
                let frm = document.myform; //form 객체를 가져옴
                frm.method = "post";
                frm.action = "/score/save";
                frm.submit();   // 서버 전송
            }
        );
    }
</script>
</html>